{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
 
{% endblock %}

{% block body %}
<div class="topnav">
    <a class="active" href="#">Login.</a>
    <a href="/signup">Sign-Up </a>
    <a href="/about">About </a>
</div>
<div class="containerMain">
    <div class="titleContainer">    
        <span class="mainTitle">Welcome To zBot</span>
        <br>
        <hr class="solid">
        <span class="subTitle">Algotrade Crypto using RSI</span>
    </div>
    <div class="containerLogin">
        <div class="Pic"> 
            <img src="/static/media/img-01.png" alt="IMG">
        </div> 
        <form class="loginForm" method="POST" action="#">
            <span class="loginTitle">
                {{ title }}
            </span>
            <div class="inputContainer" data-validate="Alphanumeric username required">
                <input class="inputField" type="text" name="username" placeholder="Username">
            </div>

            <div class="inputContainer" data-validate="Password is required">
                <input class="inputField" type="password" name="pass" placeholder="Password">
            </div>

            <div class="containerBtn">
                <input type="submit" name="submit" class="loginBtn" value="LOGIN">
            </div>
            <br>
            <div style="font-family:helvetica"><p>Not a member? Sign up <a href="{{ url_for('signup') }}"><b>here</b></a></p></div>
        </form>
    </div>
</div>
{% endblock %}